.passItem{
    
    list-style: none;
    padding-left: 3.5%;
    overflow: hidden;
    margin-bottom: 1%;
    margin-top: 1%;
    box-shadow: 4px 4px 10px 0 rgba(80, 77, 77, 0.45),
    8px -8px 12px 0 rgba(255, 255, 255, 0.8);
}

.passItem > li {
    float: left;
    height: 60px;
    line-height: 50px;
    font-size: 19px;
}

.passItem > .checkBox{
    width: 4%;
}

.passItem > .checkBox > input{
    border: 1px solid green;
    transform: scale(1.5);
}

.passItem > .passName{
    width: 15%;
}

.passItem > .passDecription{
    width: 57%;
}

.passItem > .passStatus{
    width: 6%;
    background: rgb(10, 101, 255);
    border-radius: 35px;
    margin-top: 14px;
    line-height: 25px;
    text-indent: 15px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-right: 3%;
}

.passItem > .editPass {
    width: 5.1%;
    padding-top: 12px;
    cursor: pointer;
}

.passItem > .deletePass{
    padding-top: 12px;
    width: 4.1%;
    cursor: pointer;
}

