

.passItem{
    list-style: none;
    padding-left: 4.5%;
    overflow: hidden;
    margin-top: 1%;
    box-shadow: 4px 4px 10px 0 rgba(80, 77, 77, 0.45),
    8px -8px 12px 0 rgba(255, 255, 255, 0.8);

}

.passItem > li {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 19px;
    text-align: left;
}

.passItem > .checkBox{
    width: 4%;
}

.passItem > .checkBox > input{
    border: 1px solid green;
    transform: scale(1.5);
}

.passItem > .passwordStrength{
    list-style: none;
    padding: 3.5px;
    height: 3px;
    border-radius: 50%;
    margin-top: 13px; 
}

.passItem > .passName{
    width: 14%;
}

.passItem > .passDecription{
    width: 58%;
}
.passItem > .passDecription > .frame{
    width: 58%;
    width: 100%;
    text-align: left;
}

.passItem > .passStatus:hover{
    cursor: pointer;
}

.passItem > .passStatus{
    width: 7%;
    border-radius: 35px;
    margin-top: 11px;
    line-height: 25px;
   text-align: center;
    height: 28px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-right: 3%;
}

.passItem > .editPass {
    width: 5.1%;
    padding-top: 9px;
    cursor: pointer;
}

.passItem > .deletePass{
    padding-top: 7px;
    width: 4.1%;
    cursor: pointer;
}

.passItem > .options{
    line-height: 40px;
}

@media screen and (max-width: 700px) {

    .passItem{
        padding-left: 7%;
    }
    .passItem > .passDecription{
        display: none;
    }

    .passItem > .passName{
        width: 63%;
    }

    .passItem > .passName > .frame{
        width: 100%;
        text-align: left;
    }
    
    .passItem > .passStatus{
        width: 10%;
        font-size: 14px;
    }

    .passItem > .editPass {
        width: 5.1%;
        margin-right: 18px;
        cursor: pointer;
    }
    
    .passItem > .deletePass{
        margin-right: 18px;
        
    }

    .passItem > .options{
        line-height: 45px;
        font-size: 13px;
    }
}
