
.image{
     margin-left: 25.2%;
}
.Graph{
     position: absolute;
     left: 50%;
     /* border-style: groove; */
     font-family: sans-serif;
     text-align: center;
     border:2px groove lightgrey;
}
