.passwordTable{
    list-style: none;
    padding: 0;
    width: 84%;
    margin-left: 16%;
    margin-top: 7%;
    position: absolute;
}

.passwordTable > .header{
    background: rgb(244, 247, 252);
    box-shadow: 4px 4px 10px 0 rgba(80, 77, 77, 0.45),
    8px -8px 12px 0 rgba(255, 255, 255, 0.8);
}

.passwordTable > .header > ul{
    list-style: none;
    overflow: hidden;
}

.passwordTable > .header > ul > li{
    float: left;
    height: 50px;
    line-height: 43px;
    font-size: 17px;
}

.passwordTable > .header > ul > .passName{
    margin-left: 2%;
}

.passwordTable > .header > ul > .passName > button{
    border: 1px solid transparent;
    background: url(../img/sort.png) no-repeat;
    background-size: 20px;
    background-position: -4px;
    height: 20px;
    cursor: pointer;
}

.passwordTable > .header > ul > .passDecription{
    margin-left: 10.2%;
}

.passwordTable > .header > ul > .passStatus{
    margin-left: 52%;
}

.passwordTable > .header > ul > .options{
    margin-left: 10%;
}

.react-responsive-modal-modal {
    width: 700px;
  }

  .customModal {
    background: #b2dbbf;
    max-width: 500px;
    width: 100%;
  }

@media screen and (max-width: 700px) {
    .passwordTable{
        width: 100%;
        padding: 0;
        margin: auto;
        margin-top: 16%;
    }

    .passwordTable > .header > ul > li{
        float: left;
        height: 45px;
        line-height: 43px;
        font-size: 17px;
    }

    .passwordTable > .header > ul > li{
        font-size: 18px;
    }
    .passwordTable > .header > ul > .passName{
        margin-left: 2.5%;
    }

    .passwordTable > .header > ul > .passDecription{
        display: none;
    }

    .passwordTable > .header > ul > .passStatus{
        margin-left: 54.5%;

    }
    
    .passwordTable > .header > ul > .options{
        margin-left: 12%;
    }
    
}